<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title> ShortUrl -{% block title %}{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>

    <header>
  <nav class="bgRebeccaPurple navbar navbar-expand-md navbar-dark fixed-top ">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">short url</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{path('app_homepage')}}">Home</a>
          </li>
          <li class="nav-item">
                                {% if is_granted('IS_AUTHENTICATED_FULLY') and app.user.urls.count > 0 %}
                                    <a class="nav-link" href="{{ path('url_list') }}">My links</a>
                                {% endif %}
                            </li>
        
        </ul>
        <div class="d-flex">
         {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                <a class="btn btn-outline-light me-2 " href="{{ path('app_logout') }}">log out</a>
                            {% else %}
                               <a href="{{path("app_login") }}" class="btn btn-outline-light me-2"> login </a>
          <a href="{{path("app_register") }}" class="btn btn-light me-2"> sign up </a>
                            {% endif %}
        
        </div>
      </div>
    </div>
  </nav>
</header>
        {% block body %}{% endblock %}
          <!-- FOOTER -->
  
    </body>
    <footer class="container">
    <p class="float-end"><a href="#">Back to top</a></p>
    <p>&copy; 2017–2021 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
  </footer>
</html>
